*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,
body {
  margin: 0px;
  height: 100%;
}

nav{
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
nav h1 a{
    cursor: default;
    font-size: x-large;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
nav a{
    color: white;
    font-size: 20px;
    padding: 3px;
}

.main-div{
    display: flex;
    height: calc(100% - 50px);
}
.menu{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: black;
    text-align: center;
    font-size: large;
}
.menu a{
    padding: 20px;
    color: white;
    /* margin: 2px; */
    /* border: 0.5px solid gray; */
}